<!-- <nav class="navbar navbar-light" style="background-color: #F2F8FC;">
    <img src="./assets/small_laptop .png">
    <h2 id="headtick">TICKETING SYSYTEM</h2>
    <div style="border-right:0.2mm solid #d6d6d6;height:50px;position:absolute;right: 21%;"></div>
    <i class="fa fa-info-circle" id="circle" style="font-size:24px"></i>
    <h5 id="sales">Sales and Support
    </h5>
</nav>
 -->

<div class="mt-2" id="head">

    <div class="row">
        <div class="col-md-1 ml-3">
            <img src="./assets/small_laptop .png">
        </div>
        <div class="col-md-2 " id="ti">
            <h3><b>TICKETING SYSTEM</b></h3>
        </div>

        <div class="col-md-4">

        </div>
        <div class="col-md-3">

        </div>

        <div class="col-md-2">
            <b><div style="border-right:0.2mm solid #d6d6d6;height:40px;position:absolute; font-weight:10px;"></div></b>
            <h5><i class="fa fa-info-circle ml-5" aria-hidden="true"></i> &nbsp;&nbsp; <b>Sales and Support</b></h5>

        </div>
    </div>

</div>