* {
    color: #00303f;
}

button {
    height: 35px;
    color: white;
    font-weight: 600;
    border: none;
    float: right;
}

#con {
    background-color: #DEEDF9;
    margin-top: -110px;
    border-radius: 10px
}

#ti {
    padding-top: 100px
}