#form {
    background-color: #DEEDF9;
    margin-top: 100px;
    border-radius: 10px
}

#pass {
    float: right;
    margin-top: -42px;
    padding-right: 7px;
}

input {
    border: none;
}

button {
    width: 225px;
    border-radius: 10px;
    color: white;
    font-weight: 700
}

#pass {
    text-decoration: none;
}

span {
    font-weight: 900
}

#main {
    margin-left: 131px;
    margin-top: -72px;
    margin-bottom: 17px;
}

* {
    color: #00303f;
}