<app-header></app-header>


<div class="container">
    <div class="col-md-8 offset-md-2">
        <header class="form-header text-center">
            <img src="./assets/laptop.png">
        </header>
        <div class="container" style="background-color: #DEEDF9; margin-top:-93px;border-radius:10px ;">
            <div class="">

                <form>
                    <fieldset>
                        <legend class="text-center ml-3 mr-3" style="
                            padding-top: 104px">
                            <h5><b> FORGOT PASSWORD</b></h5>
                        </legend>

                        <p class="text-center">Enter the Email you've registered with.<br> We'll send you the instruction here.</p>
                        <div class="form-group ml-3 mr-3">

                            <label>Email ID</label>
                            <input type="text" class="form-control ">
                        </div>
                        <div class="form-group ml-3 mr-3">
                            <label>Organization level</label>
                            <input type="password" class="form-control ">
                        </div>


                        <div class="text-center">
                            <button type="submit" class="btn btn-success mb-3">Request Password Reset</button>
                        </div>
                        <u>
                            <a routerLink="/login">
                        <p class="ml-3">
                            <span><i class="fa fa-chevron-left">&nbsp;</i></span>Back to Login
                        </p>
                    </a>
                        </u>

                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>