<app-header>

</app-header>
<div class="container">
    <div class="col-md-12 mt-5">
        <header class="form-header text-center">
            <img src="./assets/laptop.png" alt="logo">
        </header>
        <div class="container" style="background-color:#DEEDF9; margin-top:-143px;">
            <div class="px-4">
                <form>
                    <h4 class="text-center mt-5 mb-4" style="padding-top: 100px;"><b>Organization Ticket Issue</b></h4>
                    <fieldset class="bg-white scheduler-border">
                        <legend class="scheduler-border"><b>Ticket Information</b></legend>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="float"><b>Problem Statement</b></h5><span class="gap"> &nbsp;:</span>
                                    <span class="textsize">Read/write converters not working</span>
                                </div>
                                <div class="col-md-12">
                                    <h5 class="float"><b>Module</b></h5><span class="gap"> &nbsp;:</span>
                                    <span class="textsize">Spring data MongoDB</span>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="float"><b>Priority</b></h5><span class="gap"> &nbsp;:</span>
                                    <span class="textsize"><button class="btn bg-danger">High</button></span>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="float"><b>Status</b></h5><span class="gap">&nbsp;:</span>
                                    <span class="textsize text-info">Open</span>
                                </div>
                                <div class="col-md-12">
                                    <h5 class="float"><b>Description</b></h5><span class="gap"> &nbsp;:</span>
                                    <span class="textsize">Converter although it doesn't convert from a store-supported type .You
                                        might &nbsp;&nbsp;&nbsp;&nbsp;want to check you annota&on setup at the converter implementa&on.</span>
                                </div>
                                <div class="col-md-12">
                                    <h5 class="float"><b>Created Date</b></h5><span class="gap"> &nbsp;:</span>
                                    <span class="textsize">12/Dec/19 2:46 PM</span>
                                </div>
                                <div class="col-md-12">
                                    <h5 class="float"><b>Upated Date</b></h5><span class="gap"> &nbsp;:</span>
                                    <span class="textsize">23/Dec/19 02:46 PM</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <button type="button" class="btn btn-info btn-arrow-right" id="btncolor">
                    <h5 class="float ml-3"><b class="text-white">Comment</b></h5>
                </button>
                <div class="row py-3">
                    <div class="col-md-2" style="padding-left: 30px;">
                        <h1> &nbsp;<i class="fas fa-user-circle"></i></h1>
                        <h6>Namita</h6>
                    </div>

                    <div class="col-md-10 bg-white arrow-left" style="margin-left: -30px;">
                        <h5> I'm getting these warnings, too, but the applica&on seems to work.Does this have any effect on the date conversions?
                        </h5>
                        <h6 class="float-right">Namita added a comment - 08/Nov/10 8:50 AM</h6>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-md-2" style="padding-left: 30px;">
                        <h1> &nbsp;<i class="fas fa-user-circle"></i></h1>
                        <h6>Pavan K</h6>
                    </div>

                    <div class="col-md-10 bg-white arrow-left" style="margin-left: -30px;">
                        <h5>Spring Data commons registers the java.&me converters by default for quite some &me now and considers them simple types that can be handled by the store itself.</h5>
                        <h6 class="float-right">Pavan K added a comment - 08/Nov/10 8:50 AM</h6>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-md-2" style="padding-left: 30px;">
                        <h1> &nbsp;<i class="fas fa-user-circle"></i></h1>
                        <h6>Navya</h6>
                    </div>
                    <div class="col-md-10 bg-white arrow-left" style="margin-left: -30px;">
                        <h5>
                            Spring Data MongoDB, which we fixed there with the last release. As a side effect, the warnings now appear again.
                        </h5>
                        <h6 class="float-right">Navay added a comment - 08/Nov/10 8:50 AM</h6>
                    </div>
                </div>
                <hr>
                <h5>Enter Comment</h5>
                <div class="row">
                    <div class="col-md-11">
                        <ckeditor [editor]="Editor" class="text-gap">

                        </ckeditor>
                    </div>
                    <div class="col-md-1 px-2 mt-5">
                        <button type="submit" class="btn float-right" id="btncol"><i
                            class="fas fa-edit text-white">&nbsp;Post</i></button>
                    </div>
                </div>

                <p>&nbsp;</p>
            </div>
        </div>
    </div>