.float {
    float: left;
    width: 200px;
}

fieldset.scheduler-border {
    border: 2px dashed #d6d6d6 !important;
    padding: 0 1.4em 0.5em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: 200px;
}

#btncolor {
    background-color: #00303f;
}

.btn-arrow-right {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

.btn-arrow-right:before,
.btn-arrow-right:after {
    content: "";
    position: absolute;
    top: 8px;
    width: 30px;
    height: 30px;
    background: inherit;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(47deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.btn-arrow-right:before {
    left: -15px;
    background-color: #DEEDF9;
}

.btn-arrow-right:after {
    right: -15px;
}

* {
    color: #00303f;
}

.textgap {
    height: 500px;
}

h4 {
    padding-top: 100px;
}

#btncol {
    background-color: #00303f;
}

.arrow-left:after {
    content: " ";
    position: absolute;
    left: -15px;
    top: 0px;
    border-top: 15px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 15px solid white;
}

.textsize {
    font-size: 20px;
}

.gap {
    float: left;
    width: 20px;
}

div {
    border-radius: 3%;
}

#higbg {
    background-color: #AF473C;
}

#con {
    background-color: #DEEDF9;
    margin-top: -143px
}

#info {
    padding-left: 30px;
}