<app-header></app-header>

<div class="container">
    <div class="col-md-8 offset-md-2">


        <header class="form-header text-center">
            <img src="./assets/laptop.png" height=75px width=75px style="margin-top:30px">
        </header>

        <div class="container" style="background-color: #DEEDF9; margin-top:-42px border-radius:10px ;">
            <div class="">

                <form>
                    <fieldset>
                        <legend class="text-center ml-3 mr-3" style="
                            padding-top: 55px">
                            <h5><b>Register New User</b></h5>
                        </legend>
                        <div class="form-group ml-3 mr-3">
                            <label>First Name</label><span class="text-danger">&nbsp;*</span>
                            <input type="text" class="form-control ">
                        </div>
                        <div class="form-group ml-3 mr-3">
                            <label>Lat Name</label><span class="text-danger">&nbsp;*</span>
                            <input type="text" class="form-control ">
                        </div>
                        <div class="form-group ml-3 mr-3">
                            <label>User Name</label><span class="text-danger">&nbsp;*</span>
                            <input type="text" class="form-control ">
                        </div>
                        <div class="form-group ml-3 mr-3">
                            <label>Email Id</label><span class="text-danger">&nbsp;*</span>
                            <input type="email" class="form-control ">
                        </div>
                        <div class="form-group ml-3 mr-3">
                            <label>Organization Name</label><span class="text-danger">&nbsp;*</span>
                            <input type="text" class="form-control ">
                        </div>
                        <div class="form-group ml-3 mr-3">
                            <label>Password</label><span class="text-danger">&nbsp;*</span>
                            <input type="password" class="form-control ">
                        </div>
                        <div class="form-group ml-3 mr-3">
                            <label>Confirm Password</label><span class="text-danger">&nbsp;*</span>
                            <input type="password" class="form-control ">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mb-3" (click)="goToRegister('ticketrequest')">Register Now</button>
                        </div>

                    </fieldset>


                </form>

            </div>
        </div>
    </div>
</div>