#form {
    background-color: #DEEDF9;
    margin-top: 100px;
    border-radius: 10px
}

input {
    border: none;
}

button {
    width: 225px;
    border-radius: 10px;
    font-weight: 600;
    color: white
}

* {
    color: #00303f;
}