        #form {
            background-color: #DEEDF9;
            margin-top: 100px;
            border-radius: 10px;
        }
        
        input {
            border: none;
        }
        
        button {
            width: 225px;
            border-radius: 10px;
            font-weight: 600;
            color: white
        }
        
        * {
            color: #00303f;
        }
        
        @media screen and (max-width: 319px) {
            button {
                width: 100px;
            }
        }
        
        img {
            margin-top: 30px;
        }
        
        #con {
            background-color: #DEEDF9;
            margin-top: -42px;
            border-radius: 10px;
        }
        
        #le {
            padding-top: 55px
        }