<div id="main">

    <div class="row">
        <div class="col-md-1 ml-3">
            <img src="./assets/small_laptop .png">
        </div>
        <div class="col-md-3 col-xl-3 col-xs-3 col-lg-3 col-sm-3 " id="ti">
            <h3><b>TICKETING SYSTEM</b></h3>
        </div>

        <div class="col-md-3 ">

        </div>
        <div class="col-md-3 ">

        </div>
        <b><div style="border-right:0.2mm solid #d6d6d6;height:40px;position:absolute; font-weight:10px; "></div></b>
        <div class="col-md-2 ">

            <h2><i class="fas fa-user-circle "></i> &nbsp; <b>M Yallamma </b></h2>

        </div>
    </div>

</div>